*
{
  margin: 0;
  padding: 0;
}
body
{
  background-image: banner.png;
  font-family: sans-serif;
}
.top-nav-bar
{
  height: 60px;
  top: 0;
  position: sticky;
  background: white;
  margin-bottom: 0px;
  border-bottom: 3px solid black;
  z-index: 2;
}
.logolb
{
  height: 40 px;
  width: 40 px;
  margin: 5px 10px;
}
.Form-control
{
    margin-top: 9px;
    margin-left: 30px;
    border: 3px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    width: 60%;
}
input
{
  height: 38px;
}
.searchicon
{
    background: black;
    border: 3px solid black;
    margin: 8.5px 10px 3px 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    width: 50px;
}
.search
{
  display: inline-flex;
  width: 60%;
}
.fa-search
{
  margin-left: 5px;
  margin-top: 8px;
  color: #fff;
}
.menu-bar
{
  width: 40%;
  height: 57px;
  float: right;
}
.menu-bar ul
{
  display: inline-flex;
  float: right;
}
.menu-bar ul li
{
  border-left: 1px solid black;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.menu-bar ul li a
{
  font-size: 13px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.pr
{
  text-align: center;
  font-size: 45px;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 45%;
  bottom: 45%;
  text-shadow: 2px 2px white;
}
#foto
{
  margin-top: 10%;
  margin-left: 15%;
  width: 300px;
}
h2
{
  position: absolute;
  top: 20%;
  left: 16%;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
@media only screen and (max-width: 1080px)
 {
    h2
    {

    }
    .pr
    {
      right: 20%;
      left: 30%;
    }
    .button1
    {
      left: 30%;
      bottom: 45%;
    }
    .top-nav-bar
    {
      height: 118px;
      border-bottom: 0px;
    }
    .search
    {
      width: 100%
    }
    .menu-bar
    {
      width: 100%;
    }
    .menu-bar ul
    {
      margin: 10px 0;
      width: 100%;
    }
    .menu-bar ul li
    {
      height: 57px;
      width: 100%
    }
 }
