*{
  font-family: sans-serif;
}
.header{
  position: relative;
  text-align: center;
  color: black;
}
.pr{
  position: absolute;
 top: 8px;
 left: 16px;
 font-size: 40px;
}
.button1{
  position: absolute;
  top: 94%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 32px;
  transition-duration: 0.4s;
  border: 2px solid #e6e6e6;
  background-color: #e6e6e6;
  color: black
}
.button1:hover{
  background-color: lightgray;
}
.buttontext{
  text-decoration: none;
  color: black;
}
